OPENAI_API_KEY=your-openai-api-key-here

MODEL=gpt-3.5-turbo-1106

ZERO_SHOT_DATA=
ZERO_SHOT_SAVE=
ZERO_SHOT_OUTPUT=
ZERO_SHOT_TEMP=

DISTILL_DATA=
DISTILL_SAVE=
DISTILL_OUTPUT=
DISTILL_TEMP=

BATCH_SIZE=100
TEST_SAMPLES=-1
